.profile-picture-preview {
    width: 40vw;
    max-width: 110px;
    height: 40vw;
    max-height: 110px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative;
}
.profile-picture-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-picture-input {
    display: none;
}
.upload-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.upload-icon i {
    font-size: 16px;
    color: #555;
}
.form-group-image {
    display: flex;
    align-items: center;
    gap: 15px;
}
@media (max-width: 600px) {
    .profile-picture-preview {
        width: 50vw;
        height: 50vw;
    }
    .form-group-image {
        flex-direction: column;
        align-items: flex-start;
    }
}