<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'save_category' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Add Game Categories here.....</h5>
                    <div class="card-body">
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Game Category Name</label>
                        <input name="cname" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Game Category Name">
                      </div>
                      <div>
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea name="description" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload Image</label>
                        <input name="c_img" class="form-control" type="file" id="formFileMultiple" multiple="">
                      </div>
                      <div class="mb-3">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </div>
  </div>
</form>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
       {% if i.tags == 'success' %}
           <script>
               swal('{{i}}','','success')
           </script>
       {% elif i.tags == 'error' %}
           <script>
               swal('{{i}}','','error')
           </script>
       {% elif i.tags == 'warning' %}
           <script>
               swal('{{i}}','','warning')
           </script>
       {% else %}
           <script>
               swal('{{i}}','','info')
           </script>
       {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}
