<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <h5 class="card-header">Games</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Cover Photo</th>
                          <th>Inside Photo</th>
                          <th>Title Name</th>
                          <th>Tag- Line</th>
                          <th>Short Description</th>
                          <th>Gameplay Summary</th>
                          <th>Genre</th>
                          <th>Game Style</th>
                          <th>Platform</th>
                          <th>Release Date</th>
                          <th>Game Mode</th>
                          <th>Developer</th>
                          <th>Publisher</th>
                          <th>Age Rating</th>
                          <th>Playtime</th>
                          <th>Overall rating</th>
                          <th>Trailer</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>
                            <img src="{{i.Up_Cover_Image.url}}" width="100px" height="100px">
                          </td>
                            <td>
                                <img src="{{i.Up_Inside_Image.url}}" width="100px" height="100px">
                          </td>
                          <td>
                            {{i.Up_Game_Name}}
                          </td>
                          <td>{{i.Up_Tag_Line}}</td>
                          <td>{{i.Up_Short_Description}}</td>
                          <td>{{i.Up_Summary}}</td>
                          <td>{{i.Up_Genre}}</td>
                          <td>{{i.Up_Game_Style}}</td>
                          <td>{{i.Up_Platform}}</td>
                          <td>{{i.Up_Release_Date}}</td>
                          <td>{{i.Up_Game_Mode}}</td>
                          <td>{{i.Up_Developer}}</td>
                          <td>{{i.Up_Publisher}}</td>
                          <td>{{i.Up_Age_Rating}}</td>
                          <td>{{i.Up_Play_Time}}</td>
                          <td>{{i.Up_Overall_Rating}}</td>
                          <td>
                            <video width="200px" height="200px" controls>
                                <source src="{{i.Up_Trailer.url}}" type="video/mp4">
                            </video>
                          </td>

                          <td>
                            <a href="{% url 'edit_upcoming' i.id %}">
                              <button class="btn btn-primary">Edit</button>
                            </a>
                            <a href="{% url 'delete_upcoming' i.id %}">
                              <button class="btn btn-danger">Delete</button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
       {% if i.tags == 'success' %}
           <script>
               swal('{{i}}','','success')
           </script>
       {% elif i.tags == 'error' %}
           <script>
               swal('{{i}}','','error')
           </script>
       {% elif i.tags == 'warning' %}
           <script>
               swal('{{i}}','','warning')
           </script>
       {% else %}
           <script>
               swal('{{i}}','','info')
           </script>
       {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}


