<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <h5 class="card-header">Comment Moderation</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Profile Image</th>
                          <th>Username</th>
                          <th>Game Name</th>
                          <th>Created Time</th>
                          <th>Comments</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
<!--                          <td>-->
<!--                              {% if i.User_Image %}-->
<!--                                 <img src="{{i.User_Image}}" width="100px" height="100px">-->
<!--                              {% else %}-->
<!--                                <img src="{% static 'admin/assets/img/profile-circle-icon-2048x2048-cqe5466q.png' %}" width="100px" height="100px">-->
<!--                              {% endif %}-->
<!--                          </td>-->
                            <td>
                                {% if i.current_image %}
                                    <img src="{{ i.current_image.url }}" width="100px" height="100px">
                                {% else %}
                                    <img src="{% static 'admin/assets/img/profile-circle-icon-2048x2048-cqe5466q.png' %}" width="100px" height="100px">
                                {% endif %}
                            </td>
                          <td>{{i.User_Name}}</td>
                          <td>{{i.Game_Name}}</td>
                          <td>{{i.Created_Time}}</td>
                          <td>{{i.Comment}}</td>
                          <td>
                            <a href="{% url 'delete_comment' i.id %}">
                              <button class="btn btn-danger">Delete</button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
       {% if i.tags == 'success' %}
           <script>
               swal('{{i}}','','success')
           </script>
       {% elif i.tags == 'error' %}
           <script>
               swal('{{i}}','','error')
           </script>
       {% elif i.tags == 'warning' %}
           <script>
               swal('{{i}}','','warning')
           </script>
       {% else %}
           <script>
               swal('{{i}}','','info')
           </script>
       {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}


