<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <h5 class="card-header">Contact Details</h5>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Mobile Number</th>
                          <th>Email Address</th>
                          <th>City</th>
                          <th>Message</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td>
                            {{i.Name}}
                          </td>
                          <td>{{i.Mobile}}</td>
                          <td>{{i.Email}}</td>
                          <td>{{i.City}}</td>
                          <td>{{i.Message}}</td>
                          <td>
                            <a href="{% url 'delete_contact' i.id %}">
                              <button class="btn btn-danger">Delete</button>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
    {% for i in messages %}
       {% if i.tags == 'success' %}
           <script>
               swal('{{i}}','','success')
           </script>
       {% elif i.tags == 'error' %}
           <script>
               swal('{{i}}','','error')
           </script>
       {% elif i.tags == 'warning' %}
           <script>
               swal('{{i}}','','warning')
           </script>
       {% else %}
           <script>
               swal('{{i}}','','info')
           </script>
       {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>
{% endblock %}

