<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = "post" action="{% url 'update_upcoming' data.id %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Edit Upcoming Game Details here...</h5>
                    <div class="card-body">
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload a Cover Photo :</label>
                        <img src="{{data.Up_Cover_Image.url}}" style = "margin-left:30px" width="100px" height="100px">
                        <input style="margin-top:10px" name="c_img" class="form-control" type="file" id="formFileMultiple" multiple="">
                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Upload a Inside Photo :</label>
                        <img src="{{data.Up_Inside_Image.url}}" style = "margin-left:30px" width="100px" height="100px">
                        <input style="margin-top:10px" name="i_img" class="form-control" type="file" id="formFileMultipl" multiple="">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Title of the game</label>
                        <input value="{{data.Up_Game_Name}}" name="title" type="text" class="form-control" id="exampleFormControlInput" placeholder="Title of the game">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tagline</label>
                        <input value="{{data.Up_Tag_Line}}" name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Tagline for game">
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Short Description</label>
                        <textarea name="short" class="form-control" id="exampleFormControlTextarea" rows="3" placeholder="Short Description">{{data.Up_Short_Description}}</textarea>
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Gameplay Summary</label>
                        <textarea name="summary" class="form-control" id="exampleFormControlTextarea12" rows="3" placeholder="Gameplay Summary">{{data.Up_Summary}}</textarea>
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Genre</label>
                        <input value="{{data.Up_Genre}}" name="genre" type="text" class="form-control" id="exampleFormControlInput13" placeholder="Genre">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Game Style</label>
                        <input value="{{data.Up_Game_Style}}" name="style" type="text" class="form-control" id="exampleFormControlInput132" placeholder="Game Style">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Platform</label>
                        <input value="{{data.Up_Platform}}" name="platform" type="text" class="form-control" id="exampleFormControlInput1321" placeholder="Platforms">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Release Date</label>
                        <input value="{{data.Up_Release_Date}}" name="r_date" type="text" class="form-control" id="1" placeholder="Release Date">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Game Mode</label>
                        <input value="{{data.Up_Game_Mode}}" name="mode" type="text" class="form-control" id="2" placeholder="Game Mode">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Developer</label>
                        <input value="{{data.Up_Developer}}" name="devops" type="text" class="form-control" id="31" placeholder="Developer">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Publisher</label>
                        <input value="{{data.Up_Publisher}}" name="publisher"  type="text" class="form-control" id="4" placeholder="Publisher">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Age Rating</label>
                        <input value="{{data.Up_Age_Rating}}" name="age_rating" type="text" class="form-control" id="311" placeholder="Age Rating">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Average Playtime</label>
                        <input value="{{data.Up_Play_Time}}" name="play" type="text" class="form-control" id="32" placeholder="Average Playtime">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Overall Rating</label>
                        <input value="{{data.Up_Overall_Rating}}" name="overall" type="text" class="form-control" id="3" placeholder="Overall Rating">
                      </div>
                      <div class="mb-3">
                        <label for="formFileMultiple" class="form-label">Trailer :</label>
                        <video width="200px" height="200px" controls>
                           <source src="{{data.Up_Trailer.url}}" type="video/mp4">
                        </video>
                        <input name="trailer" class="form-control" type="file" id="formFileMultiple12" multiple="">
                      </div>
                      <div class="mb-3" >
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </div>
                  </div>
  </div>
</form>

</body>
</html>
{% endblock %}

